{{ define "auth/login.tmpl" }}
{{ template "layout/top.tmpl" . }}
{{ template "partial/top_navbar.tmpl" . }}

<form action="/login" method="post">
<div class="container-sm text-center p-5" style="max-width:480px">
    <div class="input-group mb-3">
        <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
    <div class="text-sm mb-3">
        <small> Not a member? <a href="/register"> Register </a>  </small>
    </div>
</div>
</form>

{{ template "layout/bottom.tmpl" . }}
{{ end }}
