{{ define "dashboard/index.tmpl" }}
{{ template "layout/top.tmpl" . }}
<link href="/static/css/collapsiblesidebar.css" rel="stylesheet">

{{ template "partial/top_navbar.tmpl" . }}

<div class="d-flex flex-grow-1" id="wrapper">
    <div class="border-end" >
        {{ template "partial/left_sidebar.tmpl" . }}
    </div>

    <div id="page-content-wrapper">
        content
    </div>
</div>

{{ template "layout/scripts.tmpl" . }}
{{ template "layout/bottom.tmpl" . }}

{{ end }}
