{{ define "partial/left_sidebar.tmpl" }}

<div class="bg-light" id="sidebar-wrapper">
    <div class="list-group list-group-flush ">
        <a class="border-bottom p-3 text-decoration-none text-dark" href="#!"> <i class="bi bi-house"></i> Dashboard</a>
        <a class="border-bottom p-3 text-decoration-none text-dark" href="#!"> <i class="bi bi-cash"></i> Transaction</a>
        <a class="border-bottom p-3 text-decoration-none text-dark" href="#!"><i class="bi bi bi-receipt-cutoff"></i> Ledger Management</a>
        <a class="border-bottom p-3 text-decoration-none text-dark" href="#!"><i class="bi bi-pie-chart-fill"></i> Report</a>
        <a class="border-bottom p-3 text-decoration-none text-dark" href="#!"><i class="bi bi-gear"></i> Settings</a>
    </div>
</div>

{{ end }}
