{{ define "partial/left_sidebar.tmpl" }}

<div class="bg-light" id="sidebar-wrapper">
    <div class="list-group list-group-flush ">
        {{range $menu := .sideMenus}}
            <a class="m-2 p-2 text-decoration-none text-dark
                {{ if $menu.Active }}
                    rounded bg-primary bg-opacity-25
                {{ end }}"
                href="{{ $menu.Link }}">
                <i class="bi {{ $menu.Icon }}"></i> {{ $menu.Name }}
                {{ if $menu.Active }}
                    <i class="bi bi-dot text-primary"></i>
                {{ end }}
            </a>

        {{end}}
    </div>
</div>

{{ end }}
