{{ define "partial/top_navbar.tmpl" }}

<nav class="navbar navbar-light bg-light border-bottom">
    <div class="navbar-brand lead mx-2 col-sm">
        <i id="sidebarToggle" class="bi bi-list m-2 mx-3"></i>
        <a href="/" class="m-2 lead text-decoration-none"> VintWallet </a>
    </div>

    {{ if .isLoggedIn }}
    <div class="d-none d-lg-block col-sm">
         <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="bi bi-search"> </i>
                </span>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if and (ne .route "/login") (ne .route "/register") (not .isLoggedIn) }}
        <div class="d-flex justify-content-end col-sm">
            <a href="/login" class="btn btn-primary mx-2"> Login </a>
        </div>
    {{ end }}

    {{ if .isLoggedIn }}
        <div class="d-flex flex-row justify-content-end col-sm">
            <div class="dropdown mx-2">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                    {{ .email }}
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <form action="/logout" method="post">
                        <button class="dropdown-item text-danger" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    {{ end }}
</nav>

{{ end }}
